/ILD-IDR-master.log
/ILD-IDR-master.out
/Introduction/ILD-master-Introduction.aux
/Modelling/ILD-master-Modelling.aux
/Performance/ILD-master-Performance.aux
/Summary/ILD-master-Summary.aux
/ILD-IDR-master.bbl
/ILCTDR.log
/ILD-IDR-master.nlo
/ILDIDR
/Detector/ILD-master-Detector.aux
/ILC/ILD-master-ILC.aux
/ILD/ILD-master-ILD.aux
/Science/ILD-master-Science.aux
